---
# Non-container services that need firewall rules
- name: Allow inbound dns service for future adguardhome
  ansible.posix.firewalld:
    state: enabled
    zone: public
    service: dns
    permanent: true
    immediate: true

- name: Allow inbound port 3000 for future adguardhome-webui
  ansible.posix.firewalld:
    state: enabled
    zone: public
    port: 3000/tcp
    permanent: true
    immediate: true

- name: Allow inbound port 631 for cups
  ansible.posix.firewalld:
    state: enabled
    zone: public
    port: 631/tcp
    permanent: true
    immediate: true

- name: Allow inbound port 5353 for avahi
  ansible.posix.firewalld:
    state: enabled
    zone: public
    port: 5353/udp
    permanent: true
    immediate: true
